{
  "email": "",
  "password": "",

  "meeting_mode": 3,
  "join_before_min": 2,
  "run_at_time": "",
  "rescan_min": 10,

  "headless": false,
  "mute_audio": false,
  "chrome_type": "google-chrome",

  "join_message": "",
  "random_delay": [0, 0],

  "auto_leave_after_min": -1,
  "leave_if_last": false,
  "min_members": 3,
  "leave_threshold_number": -1,
  "leave_threshold_percentage": -1,
  "leave_confirm_checks": 3,
  "max_rejoins": 2,
  "check_interval": 10,
  "stale_after_hours": 3,

  "calendar_timezone": "SE Asia Standard Time",
  "token_wait_seconds": 10,
  "organisation_num": -1,

  "blacklist": [
    {
      "team_name": "Tên nhóm muốn bỏ qua",
      "channel_names": [
        "Tên kênh muốn bỏ qua",
        "Kênh khác cũng bỏ qua"
      ]
    },
    {
      "team_name": "Bỏ qua cả nhóm này",
      "channel_names": []
    }
  ],

  "discord_webhook_url": ""
}
